* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: linear-gradient(135deg, rgb(17, 17, 73), rgb(59, 59, 184));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    top: 0;
    position: fixed;
    z-index: 100;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    width: 200px;
    filter: brightness(0) invert(1);
}



.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 22px; 
}

.nav-links li a:hover {
    color: aqua;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


.loginbtn {
    padding: 8px 20px;
    border: none;
    background: linear-gradient(135deg, rgb(72, 226, 243), rgb(141, 249, 155));
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.loginbtn:hover {
    background: linear-gradient(135deg, rgb(141, 249, 155) , rgb(72, 226, 243));
}

@media (max-width: 820px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(15, 15, 44);
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 25px;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .nav-links.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}


/* section main */

.main-about-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.main-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.main-about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 20px;
}

.main-about-content h1 {
    font-size: 64px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-about-content p {
    font-size: 25px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

/* section about */
.about-main {
    padding: 80px 10%;
    background: linear-gradient(to bottom right, #eef6ff, #f9fbff);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.about-main-content {
    flex: 1;
}

.about-main-content h2 {
    font-size: 42px;
    font-weight: 800;
    color: #003366;
    margin-bottom: 20px;
    line-height: 1.2;
}

.about-main-content p {
    font-size: 17px;
    color: #444;
    line-height: 1.8;
    margin-bottom: 18px;
    max-width: 550px;
}

/* Stats Section */
.about-stats {
    margin-top: 35px;
    display: flex;
    gap: 25px;
}

.stat-box {
    background: white;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #d7e2f3;
    text-align: center;
    min-width: 120px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
}

.stat-box:hover {
    transform: translateY(-5px);
    border-color: #0077ff;
    box-shadow: 0 12px 25px rgba(0, 119, 255, 0.15);
}

.stat-box h3 {
    font-size: 32px;
    font-weight: 700;
    color: #0077ff;
    margin-bottom: 5px;
}

.stat-box p {
    font-size: 14px;
    color: #003366;
}


.about-main-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-main-img img {
    width: 100%;
    max-width: 520px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.10);
    object-fit: cover;
}
