* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: linear-gradient(135deg, rgb(17, 17, 73), rgb(59, 59, 184));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    top: 0;
    position: fixed;
    z-index: 100;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    width: 200px;
    filter: brightness(0) invert(1);
}



.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 22px; 
}

.nav-links li a:hover {
    color: aqua;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}


.loginbtn {
    padding: 8px 20px;
    border: none;
    background: linear-gradient(135deg, rgb(72, 226, 243), rgb(141, 249, 155));
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.loginbtn:hover {
    background: linear-gradient(135deg, rgb(141, 249, 155) , rgb(72, 226, 243));
}

@media (max-width: 820px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(15, 15, 44);
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 50px;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .nav-links.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

/* section stat */
.stats-section {
  width: 100%;
  padding: 100px 5%;
  text-align: center;
}

.stats-title {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(to right, #f27868, #df3721);
  -webkit-background-clip: text;
  color: transparent;
}

.stats-sub {
  font-size: 17px;
  margin-bottom: 40px;
  color: #444;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  width: 23%;
  background: #fff;
  padding: 30px 0;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.stat-number {
  font-size: 38px;
  font-weight: bold;
  color: #df3721;
  margin-bottom: 8px;
}

.stat-label {
  font-size: 16px;
  color: #666;
}


@media (max-width: 900px) {
  .stat-box {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .stat-box {
    width: 100%;
  }
}



.energy-graph-section {
  padding: 70px 5%;
  text-align: center;
}

.graph-title {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, #f27868, #df3721);
  -webkit-background-clip: text;
  color: transparent;
}

.graph-sub {
  font-size: 17px;
  margin-bottom: 25px;
  color: #555;
}

.graph-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}


@media (max-width: 768px) {

  .energy-graph-section {
    padding: 50px 5%;
  }

  .graph-title {
    font-size: 30px;
  }

  .graph-sub {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .graph-wrapper {
    padding: 18px;
  }
}



@media (max-width: 480px) {

  .energy-graph-section {
    padding: 40px 3%;
  }

  .graph-title {
    font-size: 24px;
  }

  .graph-sub {
    font-size: 14px;
  }

  .graph-wrapper {
    padding: 15px;
    border-radius: 12px;
  }
}



/*  */

.energy-dashboard {
  padding: 30px;
  background: #0d0f2a;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-top: 75px;
}

.card {
  background: #16193d;
  padding: 20px;
  border-radius: 12px;
}

.card h3 {
  font-size: 15px;
  opacity: 0.8;
}

.card .value {
  font-size: 36px;
  margin-top: 10px;
}

.card .sub {
  opacity: 0.7;
  font-size: 14px;
}

.gauge-value {
    font-size: 32PX;
    margin-top: 15PX;
}

.alert-card {
  border: 2px solid #e54848;
  position: relative;
}

.alert-card .big {
  font-size: 48px;
}

.line-chart-card {
  background: #16193d;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
}

.bottom-section {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  margin-top: 30px;
  gap: 25px;
}

.feedback-card,
.ranking-card,
.status-card {
  background: #16193d;
  padding: 20px;
  border-radius: 12px;
}

.feedback-card ul {
  list-style: none;
  padding: 0;
}

.feedback-card li {
  margin: 12px 0;
  opacity: 0.85;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th {
  text-align: left;
  opacity: 0.7;
}

table tr {
  height: 40px;
  border-bottom: 1px solid #272b52;
}



@media (max-width: 1024px) {
  .top-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-section {
    grid-template-columns: 1fr 1fr;
  }
}



@media (max-width: 768px) {

  .graph-title {
    font-size: 30px;
  }

  .graph-wrapper {
    padding: 18px;
  }

  .top-cards {
    grid-template-columns: 1fr;
  }

  .card .value {
    font-size: 30px;
  }

  .bottom-section {
    grid-template-columns: 1fr;
  }

  .ranking-card,
  .status-card,
  .feedback-card {
    margin-bottom: 20px;
  }
}



@media (max-width: 480px) {

  .energy-graph-section {
    padding: 50px 3%;
  }

  .graph-title {
    font-size: 26px;
  }

  .graph-sub {
    font-size: 15px;
  }

  .graph-wrapper {
    padding: 15px;
  }

  .energy-dashboard {
    padding: 20px;
  }

  .card {
    padding: 15px;
  }

  .card .value {
    font-size: 26px;
  }

  .gauge-value {
    font-size: 24px;
  }

  table tr {
    font-size: 13px;
  }
}


.footer {
    background: url(./image/footer.webp) no-repeat center center/cover fixed;
    color: #d8e2f3;
    padding: 50px 0 20px;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}


.footer-about {
    flex: 1.2;
    min-width: 250px;
}

.comlogo {
    width: 170px;
    margin-bottom: 15px;
    filter: brightness(0) invert(1);
}

.footer-about p {
    line-height: 1.6;
    font-size: 15px;
    color: #c6d4ea;
}


.footer-links,
.footer-support,
.footer-contact {
    flex: 1;
    min-width: 200px;
}

.footer-links h4,
.footer-support h4,
.footer-contact h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #5ac8ff;
}

.footer-links ul,
.footer-support ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-support ul li {
    margin: 8px 0;
}

.footer-links ul li a,
.footer-support ul li a {
    text-decoration: none;
    color: #c8d3e2;
    font-size: 15px;
}

.footer-links ul li a:hover,
.footer-support ul li a:hover {
    color: #5ac8ff;
}


.footer-contact p {
    margin: 8px 0;
    color: #cfd9ed;
}

.social-icons a {
    margin-right: 12px;
    color: #5ac8ff;
    font-size: 18px;
}

.social-icons a:hover {
    color: #97e1ff;
}


.footer-bottom {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #1c2a44;
    padding-top: 12px;
}

.footer-bottom p {
    color: #a8b7d4;
    font-size: 14px;
}


@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        text-align: left;
    }

    .social-icons a {
    margin-top: 10px;
  }
}
