* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: linear-gradient(135deg, rgb(17, 17, 73), rgb(59, 59, 184));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    top: 0;
    position: fixed;
    z-index: 100;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    width: 200px;
    filter: brightness(0) invert(1);
}



.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 22px; 
}

.nav-links li a:hover {
    color: aqua;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}


.loginbtn {
    padding: 8px 20px;
    border: none;
    background: linear-gradient(135deg, rgb(72, 226, 243), rgb(141, 249, 155));
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}

.loginbtn:hover {
    background: linear-gradient(135deg, rgb(141, 249, 155) , rgb(72, 226, 243));
}

@media (max-width: 820px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgb(15, 15, 44);
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        gap: 25px;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .nav-links.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

/* section hero */


.projects-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
  gap: 50px;
  background: linear-gradient(135deg, #8ab9e5, #ffffff);
  font-family: "Poppins", sans-serif;
}

.projects-hero-left {
  flex: 1;
}

.projects-hero-left h1 {
  font-size: 50px;
  color: #0a3d62;
  margin-bottom: 15px;
  font-weight: 700;
}

.projects-hero-left p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 25px;
}

.projects-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #0077b6;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s ease;
  font-weight: 600;
  text-decoration: none;
}

.projects-btn:hover {
  background: #023e8a;
  transform: translateY(-3px);
}


.projects-hero-right img {
  width: 480px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
  transition: 0.4s ease;
}

.projects-hero-right img:hover {
  transform: scale(1.05);
}


@media (max-width: 992px) {
  .projects-hero {
    flex-direction: column;
    text-align: center;
    padding: 70px 8%;
  }

  .projects-hero-right img {
    width: 90%;
  }
}

@media (max-width: 580px) {
  .projects-hero-left h1 {
    font-size: 38px;
  }

  .projects-hero-left p {
    font-size: 16px;
  }
}


/* section images */

.projects-grid {
  padding: 80px 10%;
  background: #f4faff;
  font-family: "Poppins", sans-serif;
}

.projects-title {
  text-align: center;
  font-size: 40px;
  color: #0a3d62;
  margin-bottom: 40px;
  font-weight: 700;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s ease;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: 0.4s ease;
  text-align: center;
}

.overlay h3 {
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: 600;
}

.overlay p {
  font-size: 15px;
  line-height: 1.4;
}

.grid-item:hover img {
  transform: scale(1.15);
  filter: blur(2px) brightness(0.7);
}

.grid-item:hover .overlay {
  opacity: 1;
}


@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .projects-title {
    font-size: 32px;
  }
}


/* section details */

.project-details {
  padding: 90px 10%;
  display: flex;
  align-items: center;
  gap: 50px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

.project-details-left {
  flex: 1;
}

.project-details-left h2 {
  font-size: 42px;
  font-weight: 700;
  color: #0a3d62;
  margin-bottom: 15px;
}

.project-desc {
  font-size: 17px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}


.project-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.highlight-item {
  background: #f4faff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.highlight-item:hover {
  transform: translateY(-5px);
}

.highlight-item i {
  font-size: 30px;
  color: #0077b6;
  margin-bottom: 10px;
}

.highlight-item h4 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #0a3d62;
}

.highlight-item p {
  font-size: 15px;
  color: #444;
}


.project-details-right img {
  width: 480px;
  height: 450px;
  border-radius: 18px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
}


@media (max-width: 992px) {
  .project-details {
    flex-direction: column;
    text-align: center;
  }

  .project-highlights {
    grid-template-columns: 1fr 1fr;
  }

  .project-details-right img {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .project-highlights {
    grid-template-columns: 1fr;
  }

  .project-details-left h2 {
    font-size: 32px;
  }

  .project-details-right img {
  width: 280px;
  height: 250px;
  
}
}


/* section windmill */
.windmill-project {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 80px 10%;
}

.project-details-left img {
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.project-details-right h2 {
  font-size: 32px;
  color: #0a1a3d;
  margin-bottom: 15px;
}

.project-desc {
  font-size: 16px;
  color: #444;
  margin-bottom: 25px;
}

.project-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.highlight-item {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.highlight-item i {
  font-size: 30px;
  color: #0088cc;
  margin-bottom: 10px;
}

@media (max-width: 992px) {

  .windmill-project {
    flex-direction: column;
    padding: 60px 6%;
    text-align: center;
  }

  .project-details-left img {
    width: 100%;
    max-width: 450px;
  }

  .project-details-right h2 {
    font-size: 28px;
  }

  .project-desc {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .project-highlights {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .highlight-item {
    width: 90%;
  }
}


/* footer section */


.footer {
    background: url(./image/footer.webp) no-repeat center center/cover fixed;
    color: #d8e2f3;
    padding: 50px 0 20px;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}


.footer-about {
    flex: 1.2;
    min-width: 250px;
}

.comlogo {
    width: 170px;
    margin-bottom: 15px;
    filter: brightness(0) invert(1);
}

.footer-about p {
    line-height: 1.6;
    font-size: 15px;
    color: #c6d4ea;
}


.footer-links,
.footer-support,
.footer-contact {
    flex: 1;
    min-width: 200px;
}

.footer-links h4,
.footer-support h4,
.footer-contact h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #5ac8ff;
}

.footer-links ul,
.footer-support ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-support ul li {
    margin: 8px 0;
}

.footer-links ul li a,
.footer-support ul li a {
    text-decoration: none;
    color: #c8d3e2;
    font-size: 15px;
}

.footer-links ul li a:hover,
.footer-support ul li a:hover {
    color: #5ac8ff;
}


.footer-contact p {
    margin: 8px 0;
    color: #cfd9ed;
}

.social-icons a {
    margin-right: 12px;
    color: #5ac8ff;
    font-size: 18px;
}

.social-icons a:hover {
    color: #97e1ff;
}


.footer-bottom {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #1c2a44;
    padding-top: 12px;
}

.footer-bottom p {
    color: #a8b7d4;
    font-size: 14px;
}


@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        text-align: left;
    }

    .social-icons a {
        margin: 0 8px;
    }
}
